.order_form
  %h1.title= @order.title
  %p.description= @order.description
  %h3.price= number_to_currency( (@order.price||0) / 100.0 )
  %br
  %hr{:width => "100%"}
  
  %p
    %h4 Please confirm the following order details:
    - form_for @order, :url => checkout_order_path do |f|
      - f.fields_for :billing_address, @order.billing_address do |b|
        - [[:name, "Your name"], [:address1, "Address line 1"], [:address2, "Address line 2"], [:city, "City"], [:state, "State / Province"], [:country, "Country"], [:zip, "Zip / Postcode"], [:phone, "Phone Number"]].each do |field, description|
          %p
            = b.label field, description, :style => "display:block"
            - if field==:country
              = country_select("order[billing_address_attributes]", :country, ["AU", "NZ"], :prompt => true, :value => @order.billing_address.country)
            - else
              = b.text_field field
      
      = f.submit "Purchase via PayPal"