.clear
%p.subtitle
  -%w[username password signature].each do |credential|
    %p.paypal{ :style => "float:left" }
      %label{ :for=>"site_paypal_#{credential}", :class => "admin_only", :style => "display:block" }
        = "Paypal #{credential}"
      = text_field :site, "paypal_#{credential}", :class => "textbox"#, :style => "width:300px" 
  .clear
  %span.formnote Leave blank if not needed.
  / %span.formnote If these are left blank, they will default to whatever is in radiant config.
%br