%br.clear
%br
%hr.full_width
%p.domain
  %label{ :for=>"site_paypal_title", :class => "admin_only", :style => "display:block" }
    Title to be shown in Paypal
    %span.formnote (still being developed by Paypal).
  = text_field :site, "paypal_title", :class => "textbox"
.clear
%br
-%w[username password signature].each do |credential|
  %p.paypal{ :style => "float:left" }
    %label{ :for=>"site_paypal_#{credential}", :class => "admin_only", :style => "display:block" }
      = "Paypal #{credential}"
    = text_field :site, "paypal_#{credential}", :class => "textbox"#, :style => "width:300px" 
.clear
%span.formnote Leave fields blank if paypal not needed.
/ %span.formnote If these are left blank, they will default to whatever is in radiant config.
%br.clear
%br
%hr.full_width